---
import Mechanic from "@/icons/speciality/mechanic.astro";
import Electronic from "@/icons/speciality/electronics.astro";
import Informatic from "@/icons/speciality/informatic.astro";
import General from "@/icons/speciality/generalSciences.astro";
import Electricity from "@/icons/speciality/Electricity.astro";
import Sell from "@/icons/speciality/Sell.astro";

const TAGS = {
    ELECTRONIC: {
        class: "text-blue-500",
        icon: Electronic,
    },
    MECHANIC: {
        class: "text-red-500",
        icon: Mechanic,
    },
    INFORMATIC: {
        class: "text-green-500",
        icon: Informatic,
    },
    GENERAL: {
        class: "text-yellow-500",
        icon: General,
    },
    ELECTRICITY: {
        class: "text-purple-500",
        icon: Electricity,
    },
    SELL: {
        class: "text-pink-500",
        icon: Sell,
    },
};

const SPECIALITY = [
    {
        title: "Electricidad",
        icon: [TAGS.ELECTRICITY],
        content:
            "Instalar y mantener sistemas eléctricos, incluyendo cableado, iluminación y maquinaria, cumpliendo con los estándares de calidad, seguridad y normativas ambientales en diversos entornos de edificaciones.",
    },
    {
        title: "Electromecánica Automotriz",
        icon: [TAGS.MECHANIC],
        content:
            "Realizar la instalación y mantenimiento de sistemas electrónicos automotrices, incluyendo diagnóstico, control, inyección y encendido, cumpliendo con los estándares de calidad, seguridad y ambientales en diversos vehículos modernos.",
    },
    {
        title: "Electrónica",
        icon: [TAGS.ELECTRONIC],
        content:
            "Realizar la instalación y mantenimiento de sistemas electrónicos, abarcando dispositivos de control, comunicación y automatización, cumpliendo con estándares de calidad, seguridad y normativas ambientales en diversas aplicaciones.",
    },
    {
        title: "Informática",
        icon: [TAGS.INFORMATIC],
        content:
            "Optimizar el tratamiento de la información mediante el procesamiento automático, utilizando lenguajes de programación, bases de datos, herramientas ofimáticas, redes informáticas, herramientas web, sistemas operativos y soporte técnico; proponiendo soluciones.",
    },
    {
        title: "Comercialización y Ventas",
        icon: [TAGS.SELL],
        content:
            "Ejecutar operaciones de almacenamiento y expedición de mercaderías, desarrollo del proceso de venta de productos y/o servicios y la aplicación de técnicas de animación en el punto de venta, utilizando la normativa vigente y herramientas tecnológicas con eficiencia y responsabilidad social.",
    },
    {
        title: "Ciencias Generales",
        icon: [TAGS.GENERAL],
        content:
            "Ofrece una formación en áreas científico-humanísticas, mediante las asignaturas del tronco común, y podrán tener componentes y menciones específicas y especializadas.",
    },
];
---

<!-- Contenedor principal -->
<div class="container mx-auto px-6 text-center">
    <h2 class="text-4xl md:text-5xl font-extrabold mb-6 text-gray-800">
        Especialidades Técnicas
    </h2>
</div>

<!-- Sección de especialidades con diseño moderno -->
<article class="grid gap-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mx-auto px-4">
    {SPECIALITY.map(({ title, icon, content }) => (
        <div class="relative group text-left block max-w-sm p-6 bg-gradient-to-br from-white to-gray-100 border border-gray-300 rounded-lg shadow-lg hover:shadow-2xl transition-transform duration-500 ease-in-out hover:scale-105 mx-auto">
            <!-- Efecto decorativo en el borde superior -->
            <div class="absolute top-0 left-0 w-full h-1 bg-gradient-to-r from-blue-400 to-purple-500 group-hover:opacity-100 transition-opacity duration-300 opacity-0"></div>
            
            <!-- Ícono -->
            {icon.map((tag) => (
                <tag.icon
                    class={`${tag.class} mb-4 w-14 h-14 mx-auto transition-transform duration-300 transform group-hover:scale-110`}
                />
            ))}

            <!-- Título -->
            <h3 class="text-2xl font-bold text-gray-800 mb-2 text-center group-hover:text-blue-600 transition-colors duration-300">
                {title}
            </h3>

            <!-- Descripción -->
            <p class="font-medium text-gray-500 text-center group-hover:text-gray-700 transition-colors duration-300">
                {content}
            </p>
        </div>
    ))}
</article>
