---
const abanderados = [
  {
    nombre: "Juan Pérez",
    descripcion: "Abanderado de Matemáticas, destacado en olimpiadas y concursos.",
  },
  {
    nombre: "María Gómez",
    descripcion: "Abanderada de Ciencias, reconocida por sus proyectos de investigación.",
  },
  {
    nombre: "Pedro Rodríguez",
    descripcion: "Abanderado de Humanidades, destacado en oratoria y debate.",
  }
];
---

<section class="text-center m-[auto] w-[1000px]">
  <h2 class="text-3xl font-bold text-black mb-4">Nuestros Abanderados</h2>
  <h3 class="font-bold text-gray-500 mb-8">Conoce a los estudiantes destacados que han sido elegidos como abanderados de nuestro colegio.</h3>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    {abanderados.map((abanderado) => (
      <div class="text-center transition-transform duration-300 transform hover:scale-105 hover:bg-dark  rounded-lg">
        <div class="w-24 h-24 mx-auto rounded-full bg-gray-300 border-4 border-gray-600 shadow-md transition duration-300 transform hover:scale-110">
          {/* Aquí puedes agregar una imagen */}
        </div>
        <h3 class="text-xl text-dark font-semibold mt-4">{abanderado.nombre}</h3>
        <p class="text-dark mt-2">{abanderado.descripcion}</p>
      </div>
    ))}
  </div>
</section>
