---
import Card from "@/main/Card.astro";
import KeyMetrics from '@/main/KeyMetrics.astro';
import Standard from "@/main/Standard.astro";
import Accordion from "@/main/Accordion.astro";
import Layout from "../layouts/Layout.astro";
import ChatBot from "@/main/ChatBot.astro";
import Carousel from "@/main/Carousel.astro";
import Uniform from "@/main/Uniform.astro";
import Contacto from "./contacto.astro";
---

<Layout title="Alessandro Volta ">
  <Carousel />
  <main>
    <hr class="py-10">
	  <Card/>

    <hr class="py-10">  
    <KeyMetrics />
    <hr class="py-10">
    <Accordion />
    <hr class="py-10">
    <Standard />
    <hr class="py-10">
    <ChatBot />
  </main>
  
</Layout>
