<footer class="bg-gray-300 text-black w-full border-t-2 border-gray-600 mt-5">
  <div class="max-w-screen-xl h-full flex flex-wrap items-center justify-between mx-auto p-8">
      <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0 flex items-center">
          <img src="../../public/volta_logo.png" class="h-16 md:h-20 mx-4" alt="Volta Logo" />
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
          <div>
            <h2 class="mb-4 text-lg font-semibold text-black uppercase">MINEDUC</h2>
            <ul class="text-gray-600 font-medium">
              <li class="mb-3">
                <a href="/" class="hover:text-blue-600">Inicio</a>
              </li>
              <li>
                <a href="/contacto" class="hover:text-blue-600">Contácto</a>
              </li>
            </ul>
          </div>

          <div>
            <h2 class="mb-4 text-lg font-semibold text-black uppercase">REDES SOCIALES</h2>
            <ul class="flex space-x-6 text-gray-600 font-medium">
              <li>
                <a href="#" class="hover:text-blue-400 flex items-center">
                  <i class="fab fa-facebook-f mr-2"></i> Facebook
                </a>
              </li>
              <li>
                <a href="#" class="hover:text-blue-400 flex items-center">
                  <i class="fab fa-instagram mr-2"></i> Instagram
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr class="my-6 border-gray-700" />
      <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-600 sm:text-center">
          © 2024 
          <a href="#" class="hover:underline">Alessandro Volta</a>
        </span>
      </div>
    </div>
  </footer>
